/* @font-face {
    font-family: 'HelveticaNeue Light';
    src: url(../fonts/HelveticaNeue-LightItalic.otf);
  } */

  @font-face {
    font-family: "Open Sans Light";
    src: local("Open Sans Light"), local("OpenSans-Light"), url("https://fonts.gstatic.com/s/opensans/v16/mem5YaGs126MiZpBA-UN_r8OUuhp.woff2") format("woff2");
    font-style: normal;
    font-weight: 300;
    unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: "Open Sans Regular";
    src: local("Open Sans Regular"), local("OpenSans-Regular"), url("https://fonts.gstatic.com/s/opensans/v16/mem8YaGs126MiZpBA-UFVZ0b.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
body{
    font-family: "Open Sans";
}

.ic_w{
    color: white;
}

ol,ul {
    list-style: none;
    font-family: "Open Sans";
    padding: 0;
    margin: 0;
}
ol,ul li a{
    font-size: 0.8em;
    color: #777;
    text-decoration: none;
    font-family: "Open Sans";
}

.fas{
    color: white;
}
